<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" alt="{{recipe.description}}" style="max-height: 300px;" class="img-reponsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
  <div class="sample-menu-style dropdown-menu-content">
    <span tabindex="0" onclick="return true">Click Me!</span>
    <div tabindex="0" onclick="return true"></div>
    <ul>
      <li><a href="#" onclick="sampleMenu(this)">Item 1</a></li>
      <li><a href="#" onclick="sampleMenu(this)">Item 2</a></li>
      <li><a href="#" onclick="sampleMenu(this)">Last Item</a></li>
    </ul>
  </div>
    <div class="col-xs-12">
        <!-- <div class="dropdown" >
            <button
            type="button"
            class="btn btn-primary dropdown-toggle">
            Manage Recipe <span class="caret"></span>
            <ul class="dropdown-menu">
               <li><a href="#">To Shopping List</a></li>
               <li><a href="#">Edit Recipe</a></li>
               <li><a href="#">Delete Recipe</a></li>
            </ul>
            </button>
        </div> -->

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown button 1
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredient
    </div>
</div>
